# 5 Logical_Operator

In [1]:
# logical Operator
print(1 == 1)

print(1 > 1)

print(1 < 1)

print(1 >= 1)

print(1 <= 1)

print (1 != 1)

True
False
False
True
True
False

In [2]:
# logical Operator

print(f"2 == 1 is {1 == 2}")
print(f"2 > 1 is {1 > 2}")
print(f"2 < 1 is {1  < 2}")
print(f"2 >= 1 is {1 >= 2}")
print(f"2 <= 1 is { 1 <= 2}")
print (f"2 != 1 is { 1 != 2}")

2 == 1 is False
2 > 1 is False
2 < 1 is True
2 >= 1 is False
2 <= 1 is True
2 != 1 is True

In [3]:
cat = 2
dog = 1

owner = False
print(bool('meooo'))
print(bool('waoof'))


if cat == dog and 2 >= 1:
    print('mouse run away')
elif owner :
    print('mouse is scared')

else:
    print ('mouse eat cheese')

True
True
mouse eat cheese

In [4]:
cat = 2
dog = 1

owner = False  # Variable names should be consistent and lowercase

print(bool('meooo'))   # True, because non-empty string is True
print(bool('waoof'))   # True

if cat == dog and 2 >= 1:
    print('mouse run away')
elif owner:
    print('mouse is scared')
else:
    print('mouse eat cheese')

True
True
mouse eat cheese

In [5]:
cat = 2
dog = 1
if cat ==dog and 2 >= 1:
    print ('Mouse run away')
elif owner:
    print ('Mouse is scared')
else:
    print('Mouse eat cheese')

Mouse eat cheese

# For loop & iterable

In [8]:
#forloop
mylist= ["apple" , "banana", "cherry", "eggs", "milk"]
newlist = iter(mylist)
for newlist in mylist:
 print(newlist + ' price tag ')
newlist = iter(mylist)

apple price tag
banana price tag
cherry price tag
eggs price tag
milk price tag

# Nested for loop

In [9]:
#Nested For Loop
list1 = ['1', '2', '3']
list2 = ['a', 'b', 'c']
for x in list1:
 for y in list2:
  print(x,y)

#print(y)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

# Generate Table of 2

In [10]:
list1 = [2]
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in list1:
 for y in list2:
  print (f"{x}×{y} = {x*y}")

2×1 = 2
2×2 = 4
2×3 = 6
2×4 = 8
2×5 = 10
2×6 = 12
2×7 = 14
2×8 = 16
2×9 = 18
2×10 = 20

#Generate Table of 3, 4,and so on using For loop

In [11]:
list1 = [3, 4, 5]
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
for x in list1:
 for y in list2:
  print (f"{x} × {y} = {x * y}")

3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30
3 × 11 = 33
3 × 12 = 36
3 × 13 = 39
3 × 14 = 42
3 × 15 = 45
3 × 16 = 48
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36
4 × 10 = 40
4 × 11 = 44
4 × 12 = 48
4 × 13 = 52
4 × 14 = 56
4 × 15 = 60
4 × 16 = 64
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50
5 × 11 = 55
5 × 12 = 60
5 × 13 = 65
5 × 14 = 70
5 × 15 = 75
5 × 16 = 80