#Load a (titanic) dataset for Exploratory data analysis Task_1

In [ ]:

# Import necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load Titanic dataset using sns

titanic = sns.load_dataset('titanic')

In [ ]:
# Show the first few rows to understand data
titanic.head()

In [ ]:
#show columns names
titanic.columns

# Columns Names
1. survived, 2. pclass, 3. sex , 4. age, 5. sibsp, 6. parch, 7. fare, 8. embarked, 9. class, 10. who, 11. adult_male, 12. deck, 13. embark_town, 14. alive, 15. alone

#Variable    Definition

Survival    0 = No, 1 = Yes

pclass Ticket class   1 = 1st, 2 = 2nd, 3 = 3rd

sex Sex
    
Age Age in years
    
sibsp   # of siblings / spouses aboard the Titanic
    
parch   # of parents / children aboard the Titanic
    
ticket  Ticket number
    
fare    Passenger fare  

cabin   Cabin number    

embarked    
Port of Embarkation
 C = Cherbourg, Q = Queenstown, S = Southampton

# Variable Notes
pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower
age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...

Sibling = brother, sister, stepbrother, stepsister

Spouse = husband, wife (mistresses and fianc√©s were ignored)

parch: The dataset defines family relations in this way...

Parent = mother, father

Child = daughter, son, stepdaughter, stepson

Some children travelled only with a nanny, therefore parch=0 for them

In [ ]:
# show more than five rows
titanic.head(10)

In [ ]:
# show from the ending point
titanic.tail()

In [ ]:

# Get dataset shape (rows, columns)
titanic.shape

In [ ]:
# Check data types and non-null counts
titanic.info()

In [ ]:
# drawing a bix plot to understand the mean of the age variable with in class

sns.boxplot(x='class', y= 'age', data= titanic)

plt.grid(True)

In [ ]:

# drop nan value from the categorical variable class

titanic.dropna(subset=['class'])

In [ ]:

# drop null values of deck variable

titanic = titanic.dropna(subset=['deck'])

In [ ]:
titanic.isna().sum()

In [ ]:
plt.figure(figsize=(12, 6))
sns.countplot(data=titanic, x='deck', hue='class', palette='viridis')
plt.title('Number of Passengers by Deck and Class')
plt.xlabel('Deck')
plt.ylabel('Count')
plt.legend(title='Class')
plt.plot()
plt.show()

In [ ]:
# Select numerical variables
numerical_columns = titanic.select_dtypes(include=['float64', 'int64'])

# Plot histograms
numerical_columns.hist(bins=30, figsize=(12, 8), layout=(3, 2), color='skyblue', edgecolor='black')
plt.suptitle('Histograms of Numerical Variables', fontsize=16)
plt.tight_layout(rect=[0, 0, 1, 0.95])
plt.plot()
plt.show()

In [ ]:
sns.pairplot(numerical_columns, diag_kind='hist')
plt.suptitle('Scatter Plot Matrix for Numerical Variables', y=1.02, fontsize=16)
plt.show()

In [ ]:
# Compute the correlation matrix
correlation_matrix = numerical_columns.corr()

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Heatmap for Numerical Features')
plt.show()